<%- model_class = ControlUsersController -%>

<table class="table table-striped">
  <thead>
    <tr>
      
      <th>Email</th>
      <th>Role</th>
      
      
    </tr>
  </thead>
  <tbody>
    <% @control_users.each do |users| %>
      <tr>
        
        <td><%= users.email %></td>
        <td><%= users.role %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

