<%= form_for @employee, :html => { :class => "form-horizontal employee" } do |f| %>

  <% if @employee.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :admitted_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :admitted_at, :class => 'form-control', :type => 'date', :value => Date.today %>
    </div>
    <%=f.error_span(:admitted_at) %>
  </div>
  <div class="form-group">
    <%= f.label :occupation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :occupation, :class => 'form-control' %>
    </div>
    <%=f.error_span(:occupation) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                employees_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
