<%= form_for @processo, :html => { :class => "form-horizontal processo" } do |f| %>

  <% if @processo.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@processo.errors.count, "error") %> prohibited this processo from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @processo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :process, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :process, :class => 'form-control' %>
    </div>
    <%=f.error_span(:process) %>
  </div>
  <div class="form-group">
    <%= f.label :kind, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :kind, :class => 'form-control' %>
    </div>
    <%=f.error_span(:kind) %>
  </div>
  <div class="form-group">
    <%= f.label :draft_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :draft_date, :class => 'form-control', :type => 'date', :value => Date.today %>
    </div>
    <%=f.error_span(:draft_date) %>
  </div>
  <div class="form-group">
    <%= f.label :draft_author, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :draft_author, :class => 'form-control' %>
    </div>
    <%=f.error_span(:draft_author) %>
  </div>
  <div class="form-group">
    <%= f.label :check_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :check_date, :class => 'form-control', :type => 'date', :value => Date.today %>
    </div>
    <%=f.error_span(:check_date) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                processos_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
