<%- model_class = Processo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= search_form_for @q do |f| %>
    <div class="form-group">
      <%= label :search, :process , :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.search_field :process_cont, :class => 'form-control' %>
    </div>
  </div>
    <div class="form-group">
      <%= label :search, :kind , :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.search_field :kind_cont, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
      <%= label :search, :author , :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.search_field :draft_author_cont, :class => 'form-control' %>
    </div>
  </div>
    <div class="form-group">
      <%= label :search, :from , :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.search_field :check_date_gteq, :class => 'form-control', :type => 'date' %>
    </div>
  </div>
  <div class="form-group">
     <%= label :search, :until , :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
      <%= f.search_field :check_date_lteq, :class => 'form-control', :type => 'date' %>
    </div>
  </div>
    <div class="form-group">
     <%= f.submit nil, :class => 'btn btn-primary'  %>
    </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= sort_link(@q, :process) %></th>
      <th><%= sort_link(@q, :kind) %></th>
      <th><%= sort_link(@q, :draft_date) %></th>
      <th><%= sort_link(@q, :draft_author) %></th>
      <th><%= sort_link(@q, :check_date) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @processos.each do |processo| %>
      <tr>
        
        <td><%= processo.process %></td>
        <td><%= processo.kind %></td>
        <td><%= processo.draft_date %></td>
        <td><%= processo.draft_author %></td>
        <td><%= processo.check_date %></td>
        
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      processo_path(processo), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_processo_path(processo), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      processo_path(processo),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @processos %>
<%= page_entries_info @processos %>
<br>

<div class="form-group">
  <%= link_to t('.new', :default => t("helpers.links.new")), new_processo_path, :class => 'btn btn-primary' %>
</div>
