<%- model_class = Processo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:process) %>:</strong></dt>
  <dd><%= @processo.process %></dd>
  <dt><strong><%= model_class.human_attribute_name(:kind) %>:</strong></dt>
  <dd><%= @processo.kind %></dd>
  <dt><strong><%= model_class.human_attribute_name(:draft_date) %>:</strong></dt>
  <dd><%= @processo.draft_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:draft_author) %>:</strong></dt>
  <dd><%= @processo.draft_author %></dd>
  <dt><strong><%= model_class.human_attribute_name(:check_date) %>:</strong></dt>
  <dd><%= @processo.check_date %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              processos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_processo_path(@processo), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              processo_path(@processo),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
